@import "mixins";
@import "variables";

.error-msg {
  color: $red-color;
  margin: -$main-gap/2 0 0 $main-gap;
}

input[type="text"] {
  @include input-height(30px);
  padding-left: 12px;
}

form {
  display: flex;
  justify-content: space-between;
  padding: $main-gap;

  .search-radio {
    display: flex;
  }

  input {
    margin-right: 20px
  }

  .radio-btns {
    display: flex;
    flex-direction: column;
  }

  button {
    @include button-style($pink-color);
  }
}
