<form [formGroup]="form" (change)="search()">
  <div class="search-radio">
    <input #searchBox type="text" (input)="search(searchBox.value)" formControlName="term" placeholder="Search beer ...">
    <div class="radio-btns">
      <label>
        <input type="radio" value="name" formControlName="radioButtonValue">
        <span>By Name</span>
      </label>
      <label>
        <input type="radio" value="description" formControlName="radioButtonValue">
        <span>By Description</span>
      </label>
    </div>
  </div>
  <button class="search-btn">Search</button>
</form>
<div *ngIf="!form.valid" class="error-msg">Only alphanumeric characters, numbers and hyphens allowed</div>



