<form [formGroup]="form" (ngSubmit)="search()">
  <div class="search-radio">
    <input type="text"  formControlName="term" (input)="handleClear()" placeholder="Search beer ...">
    <div class="radio-btns">
      <label>
        <input type="radio" value="name" formControlName="radioButtonValue">
        <span>By Name</span>
      </label>
      <label>
        <input type="radio" value="description" formControlName="radioButtonValue">
        <span>By Description</span>
      </label>
    </div>
    <div *ngIf="!form.valid" class="error-msg">Only alphanumeric characters, numbers and hyphens allowed</div>
  </div>
  <button type="submit" class="search-btn">Search</button>
</form>



