<glofox-search-field></glofox-search-field>

<div *ngIf="(beers$ | async) as beers">
  <div *ngFor="let beer of beers |
       searchBy:(searchService.searchTerms$ | async)?.radioButtonValue:(searchService.searchTerms$ | async)?.term">
    <div *ngIf="beer.name && beer.description" [class.selected-beer]="beer.id === (matchedBeerService.changeBeer$ | async)?.id" class="beer-card">
      <div class="image-section">
        <img src="{{beer.image_url}}" alt="beer image">
      </div>
      <div class="right-section">
        <h3>{{beer.name}}</h3>
        <div class="description">{{beer.description}}</div>
      </div>
    </div>
  </div>
</div>
