$image-size: 120px;

.beer-card {
  display: flex;
  padding: 5px 10px;
  border: 1px solid black;

  &:hover {
    background-color: #d3d3d3;
  }
}

.image-section {
  margin-right: 20px;
  min-width: $image-size + 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  display: flex;
  flex-direction: column;

  .description {
    display: flex;
    align-items: center;
  }
}


