/* You can add global styles to this file, and also import other style files */
@import "variables";

h3 {
  margin: 0 0 10px 0;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: $image-size;
  max-height: $image-size;
  margin: auto;
}
