//-- SIZES --//
$image-size: 120px;
$body-margin: 8px;
$card-height: 180px;
$main-gap: 20px;

//-- COLORS --//
$white-color: #ffffff;
$blue-color: #1da1f2;
$red-color: #db4437;
$green-color: #20bf55;
$pink-color: #fc5fa6;
