<div class="beer-card">
  <div class="left-section">
    <h3>{{(beer$ | async)?.name}}</h3>
    <img *ngIf="(beer$ | async)?.image_url" src="{{(beer$ | async)?.image_url}}" alt="beer image">
  </div>
  <div class="description-buttons">
    <div class="description">{{(beer$ | async)?.description}}</div>
    <glofox-mini-loader *ngIf="!(beer$ | async)"></glofox-mini-loader>
    <div class="buttons-section">
      <button (click)="getAnotherBeer()">Another Beer</button>
      <button (click)="getRandomBeer()">Random non alcoholic beer</button>
    </div>
  </div>
</div>

<glofox-search-field></glofox-search-field>

