<div class="beer-card">
  <div class="left-section">
    <h3 *ngIf="!showLoader">{{beer?.name}}</h3>
    <img *ngIf="!showLoader && beer?.image_url" src="{{beer?.image_url}}" alt="beer image">
  </div>
  <div class="description-buttons">
    <glofox-mini-loader *ngIf="showLoader" class="loader"></glofox-mini-loader>
    <div class="whole-card">
      <div class="no-beer" *ngIf="!showLoader && UtilsService.checkType(beer) && objectKeys(beer)?.length===0">
        <span>No beer found for your action</span>
      </div>
      <div class="description-section" *ngIf="!showLoader && beer?.description">
        <div class="chips">
          <div class="chip" [class.non-alcoholic]="isNonAlcoholic(beer.abv)">{{beer?.abv}} %</div>
          <div class="right-chips">
            <div class="chip yellow">{{beer?.tagline}}</div>
            <div class="chip violet"> First brewed: {{beer?.first_brewed}}</div>
          </div>
        </div>
        <div class="description">{{beer.description}}</div>
      </div>
    </div>
    <div class="buttons-section">
      <button (click)="getSingleBeer()">Another Beer</button>
      <button (click)="getRandomBeer()">Random Beer</button>
      <button (click)="getRandomNonAlcBeer()">Random non alcoholic beer</button>
    </div>
    <div class="explanation"><sup>*</sup> non-alcoholic: <= {{NON_ALCOHOLIC_VALUE}}% </div>
  </div>
</div>

<glofox-search-field></glofox-search-field>

